@model project_of_dotnet.Models.trip_pkg

@{
    ViewData["Title"] = "Delete";
}
@*
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>trip_pkg</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StarNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StarNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuideName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuideName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guide_Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guide_Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuideDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuideDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
*@






<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Delete</h6>
            <h1>Welcome to KHS Travels Ltd.</h1>

        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form bg-white" style="padding: 30px;">
                    <div id="success"></div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.image)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.image)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Location)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Location)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PersonNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PersonNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.StarNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.StarNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TotalPerson)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TotalPerson)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Price)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.GuideName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.GuideName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Guide_Photo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Guide_Photo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.GuideDescription)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.GuideDescription)
                        </dd>
                    </dl>
                    <center>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="Index">Back to List</a>
                        </form>
                    </center>

                </div>

            </div>
        </div>
    </div>
</div>

